.navbar-expand-lg .navbar-collapse.navbar-mobile {
  background: #707070;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  text-align: center;

  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
  }

  @include lg {
    display: none !important;
  }
}

.navbar-expand-lg .navbar-collapse.navbar-mobile {
  .nav-item:not(:last-child) {
    border-bottom: 2px solid #fff;
  }
}